@page
@model PPT.Pages.Departments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>إلغاء</h1>

<h3>هل تريد الإلغاء</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Branch.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Secretary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Secretary.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Head)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Head.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Department.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">الرجوع</a>
    </form>
</div>
