@page
@model PPT.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>تفاصيل</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Branch.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Secretary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Secretary.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Head)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Head.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Department?.ID">Edit</a> |
    <a asp-page="./Index">الرجوع</a>
</div>
